aioconsole
async-generator
beautifulsoup4
bs4
certifi
chardet
click
click-completion
eml-parser
filelock
httpx
jsonschema
lxml
psutil
puremagic
py-cpuinfo
pycountry
pyppeteer
python-dotenv
requests
setuptools-rust
shellingham
spacy
tqdm
urllib3
xeger