#iaso-informant-overlay {
    position: fixed;
    display: none;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#iaso-informant-overlay::-webkit-scrollbar {
    display: none;
}

#iaso-informant-overlay-content {
    cursor: default;
    margin: 10px;
}

#iaso-informant-overlay-issues {
    list-style-type: none;
    pointer-events: none;
}

#iaso-informant-overlay-issues > li {
    color: white;
}

#iaso-informant-overlay-issues > li:before {
    content: "-";
    margin-left: -1ch;
    margin-right: 1ch;
}
